@model object

@{
    ViewBag.Title = "Admin";
    Layout = "_Layout";
}

<h2>Admin</h2>

<h3><a asp-controller="Absensi" asp-action="Index"><span class="label label-default">Absensi</span></a></h3>
<h3><a asp-controller="Anak" asp-action="Index"><span class="label label-default">Anak</span></a></h3>
<h3><a asp-controller="Lomba" asp-action="Index"><span class="label label-default">Lomba</span></a></h3>
<h3><a asp-controller="Materi" asp-action="Index"><span class="label label-default">Materi</span></a></h3>
<h3><a asp-controller="PenggalanganDana" asp-action="Index"><span class="label label-default">PenggalanganDana</span></a></h3>
<h3><a asp-controller="Staff" asp-action="Index"><span class="label label-default">Staff</span></a></h3>
<h3><a asp-controller="Umkm" asp-action="Index"><span class="label label-default">UMKM</span></a></h3>
